.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  max-height: 100%;
}

.content__container {
  display: flex;
  flex-direction: column;
  max-width: 76.8%;
}
.content__gallery-container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content__container {
    max-width: 93.75%;
  }
}
@media screen and (max-width: 320px) {
  .content__container {
    max-width: 90%;
  }
}
