.footer {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.footer__copyrigth {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffff;
  padding-bottom: 24px;
}
